# Ignore everything by default
**

# Allow server folder & package files
!/server
!/package.json
!/package-lock.json

# Inside server, ignore junk
server/node_modules
server/dist
server/.env
server/.env.*
server/logs
server/tests